header section {
    display: flex;
    margin: 0 24px;
    justify-content: center;
    border-bottom: 1px solid #F3F3F3;
}

.logo {
    width: 50px;
    height: 42px;
    margin: 19px 0;
}

.title {
    display: flex;
    justify-content: start;
}

h1 {
    margin: 20px 24px;
    font-family: 'Poppins';
    font-size: 30px;
    color: #1C1E23;
}

